/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

html {
    scroll-behavior: smooth;
}

/* :focus {
    outline: none !important;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%) !important;
} */

.no_focus_style:focus {
    outline: none !important;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%) !important;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#5d4157, #274046);
    border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(#ee0970, #ff6a00);
}

/* topPicks Table */
.row:hover .childId {
    color: red;
    display: none;
}
.row:hover .childIdPlay {
    display: initial;
}
.row:hover .iconOpacity {
    background-color: rgba(0, 0, 0, 0.5);
    /* display: initial; */
}

.playing {
    color: #e14949;
}
.playing .iconOpacity {
    background-color: rgba(0, 0, 0, 0.5);
    display: initial;
}
.playing:hover .childId {
    color: red;
    display: none;
}
.playing:hover .childIdPause {
    display: initial;
}
.pause {
    color: #e14949;
}
.pause .iconOpacity {
    background-color: rgba(0, 0, 0, 0.5);
    display: initial;
}
.pause:hover .childId {
    color: red;
    display: none;
}
.pause:hover .childIdPlay {
    display: initial;
}

/* playlist icon */
.playItem:hover .playIcon {
    display: initial;
}
.playItem:hover .playText {
    width: 10em;
}

/* jinke player custom css */
.react-jinke-music-player-mobile-toggle {
    display: flex !important;
    justify-content: center !important;
}
.player-content {
    padding-left: 0px !important;
}
.panel-content {
    background-color: rgba(28, 28, 28, 1);
}
.audio-lists-panel{
    background-color: rgba(0, 0, 0, 0.5);
}

li.audio-item:hover {
    background-color: #2a2a2a !important;
}

.group .prev-audio {
    margin-left: 6vw !important;
}
.group .prev-audio:hover,
.group .play-btn:hover,
.group .next-audio:hover {
    background-color: #2e2e2e;
    border-radius: 12px;
    height: 35px;
}
